@charset "UTF-8";

/* 回答はここに書いてね */

.speech-ballon {
  border: 5px solid #222;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  border-radius: 30px;
  position: relative;
}



.speech-ballon::before, .speech-ballon::after {
  content: "";
  position: absolute;
  left: 30px;
  border: 20px solid transparent;
  border-top: 20px solid #222;
}

.speech-ballon::before {
  bottom: -45px;
  border-top: 20px solid #222;
}

.speech-ballon::after {
  bottom: -38px;
  border-top: 20px solid #fff;
}

.speech-text {
  font-size: 16px;
  line-height: 16px;
}

/* 回答はここに書いてね */
